{# Registrations #}
<div class="card mb-2 mb-md-4 mt-3 mt-sm-4">
    <h5 class="text-uppercase text-center font-weight-bold mb-4 pt-4 line-height-1-0">
        2021 - ადგილობრივი არჩევნები - რეგისტრაცია
    </h5>
    <div class="card-body p-0 p-lg-4">
        <!-- Start of rating of politicians visible on large screen as carousel -->
        <!-- Start of rating of politicians visible on large screen as carousel -->

        <!-- Start of rating of politicians visible on large screen as list -->
        <div class="d-lg-block">
            <!-- politicians-rating-{number of items in row} -->
            <div class="politicians-rating politicians-rating-5">

                <div class="col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-12">
                            <!-- Start of banner -->
                            <div
                                class="rounded position-relative banner banner-default banner-sm-wide banner-md-default h-100 banner-bg-center banner-bg-donate">
                                <div
                                    class="position-absolute position-top-0 position-left-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center p-3">
                                    <h4 class="text-white text-uppercase font-weight-bold">
                                        პარტიული სია
                                    </h4>
                                    <p class="text-white font-size-3 font-weight-bold text-center mb-3 mb-md-4">
                                        გახდი გირჩის პარტიული სიის კანდიდატი
                                    </p>
                                    <a href="/elections2021/registration/partiuli-sia"
                                       class="btn btn-primary  btn-lg text-uppercase">
                                        რეგისტრაცია
                                    </a>
                                </div>
                            </div>
                            <!-- End of banner -->
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-12">
                            <!-- Start of banner -->
                            <div
                                class="rounded position-relative banner banner-default banner-sm-wide banner-md-default h-100 banner-bg-center banner-bg-donate">
                                <div
                                    class="position-absolute position-top-0 position-left-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center p-3">
                                    <h4 class="text-white text-uppercase font-weight-bold">
                                        საოლქო კომისია
                                    </h4>
                                    <p class="text-white font-size-3 font-weight-bold text-center mb-3 mb-md-4">
                                        გახდი გირჩის საოლქო საარჩევენო კომისიის წევრი
                                    </p>
                                    <a href="/elections2021/registration/saolqo"
                                       class="btn btn-primary  btn-lg text-uppercase">
                                        რეგისტრაცია
                                    </a>
                                </div>
                            </div>
                            <!-- End of banner -->
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-12">
                            <!-- Start of banner -->
                            <div
                                class="rounded position-relative banner banner-default banner-sm-wide banner-md-default h-100 banner-bg-center banner-bg-donate">
                                <div
                                    class="position-absolute position-top-0 position-left-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center p-3">
                                    <h4 class="text-white text-uppercase font-weight-bold">
                                        საუბნო კომისია
                                    </h4>
                                    <p class="text-white font-size-3 font-weight-bold text-center mb-3 mb-md-4">
                                        გახდი გირჩის საუბნო საარჩევენო კომისიის წევრი
                                    </p>
                                    <a href="/elections2021/registration/saubno"
                                       class="btn btn-primary  btn-lg text-uppercase">
                                        რეგისტრაცია
                                    </a>
                                </div>
                            </div>
                            <!-- End of banner -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Start of rating of politicians visible on large screen as list -->
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        {# Politician Donations #}
        <div>
            <div class="banner bg-white mb-3 mb-lg-4 p-3 rounded">
                <div class="m-1 m-xl-3 d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="w-100 mx-0 mx-md-3 mx-xl-4">
                        <h5 class="text-uppercase text-center font-weight-bold mb-4 line-height-1-0">
                            დააფინანსე პოლიტიკოსები
                        </h5>
                        <div class="d-flex">
                            <div class="d-flex w-100 align-items-center my-2">
                                <a href="/donate/politician/15" class="rounded-circle overflow-hidden d-md-block">
                                    <img
                                        src="/sites/default/files/styles/politician_image_50x50_/public/phpuiISs4.jpg?itok=Qrq1P_9w"
                                        class="rounded w-100" alt="...">
                                </a>
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/politician/15" class="d-inline-block text-hover-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>ვახტანგ</span>
                                    <span class="font-weight-bold">მეგრელიშვილი</span>
                  </span>
                                    </a>
                                    <span
                                        class="d-md-flex font-size-1 font-size-lg-3 text-grey mt-1 justify-content-center justify-content-sm-start">
                                  პოლიტიკოსი

                                </span>
                                </h6>
                            </div>
                            <div class="d-flex w-100 align-items-center my-2">
                                <a href="/donate/politician/29" class="rounded-circle overflow-hidden  d-md-block">
                                    <img
                                        src="/sites/default/files/styles/politician_image_50x50_/public/avatars/2019-05/social_auth_facebook_2463878120303381.jpg?itok=yd_e6Yr6"
                                        class="rounded w-100" alt="...">
                                </a>
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/politician/29" class="d-inline-block text-hover-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>იაგო</span>
                                    <span class="font-weight-bold">ხვიჩია</span>
                  </span>
                                    </a>
                                    <span
                                        class=" d-md-flex font-size-1 font-size-lg-3 text-grey mt-1 justify-content-center justify-content-sm-start">
                                  პოლიტიკოსი
                                </span>
                                </h6>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex w-100 align-items-center my-2">
                                <a href="/donate/politician/1066" class="rounded-circle overflow-hidden  d-md-block">
                                    <img
                                        src="/sites/default/files/styles/politician_image_50x50_/public/avatars/2019-07/social_auth_facebook_10217184967250274.jpg?itok=4EyTj9NM"
                                        class="rounded w-100" alt="...">
                                </a>
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/politician/1066" class="d-inline-block text-hover-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>ალექსანდრე</span>
                                    <span class="font-weight-bold">რაქვიაშვილი</span>
                  </span>
                                    </a>
                                    <span
                                        class=" d-md-flex font-size-1 font-size-lg-3 text-grey mt-1 justify-content-center justify-content-sm-start">
                                  პოლიტიკოსი
                                </span>
                                </h6>
                            </div>
                            <div class="d-flex w-100 align-items-center my-2">
                                <a href="/donate/politician/82" class="rounded-circle overflow-hidden d-md-block">
                                    <img
                                        src="/sites/default/files/styles/politician_image_50x50_/public/avatars/2019-06/social_auth_facebook_10217340551719862.jpg?itok=0lmd5g0H"
                                        class="rounded w-100" alt="...">
                                </a>
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/politician/82" class="d-inline-block text-hover-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>ჰერმან</span>
                                    <span class="font-weight-bold">საბო</span>
                  </span>
                                    </a>
                                    <span
                                        class="d-md-flex font-size-1 font-size-lg-3 text-grey mt-1 justify-content-center justify-content-sm-start">
                                  პოლიტიკოსი

                                </span>
                                </h6>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex w-100 align-items-center my-2">
                                <a href="/donate/politician/81" class="rounded-circle overflow-hidden  d-md-block">
                                    <img
                                        src="/sites/default/files/styles/politician_image_50x50_/public/phpebMjF0.png?itok=-60JZeol"
                                        class="rounded w-100" alt="...">
                                </a>
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/politician/81" class="d-inline-block text-hover-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>ლევან</span>
                                    <span class="font-weight-bold">ჯგერენაია</span>
                  </span>
                                    </a>
                                    <span
                                        class=" d-md-flex font-size-1 font-size-lg-3 text-grey mt-1 justify-content-center justify-content-sm-start">
                                  პოლიტიკოსი
                                </span>
                                </h6>
                            </div>
                            <div class="d-flex w-100 align-items-center my-2">
                                <a href="/donate/politician/13" class="rounded-circle overflow-hidden  d-md-block">
                                    <img
                                        src="/sites/default/files/styles/politician_image_50x50_/public/phpmRzcPj.jpg?itok=gTo9ddNh"
                                        class="rounded w-100" alt="...">
                                </a>
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/politician/13" class="d-inline-block text-hover-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>ოთო</span>
                                    <span class="font-weight-bold">ზაკალაშვილი</span>
                  </span>
                                    </a>
                                    <span
                                        class=" d-md-flex font-size-1 font-size-lg-3 text-grey mt-1 justify-content-center justify-content-sm-start">
                                  პოლიტიკოსი
                                </span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        {# Project Donations #}
        <div>
            <div class="banner bg-white mb-3 mb-lg-4 p-3 rounded">
                <div class="m-1 m-xl-3 d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="w-100 mx-0 mx-md-3 mx-xl-4">
                        <h5 class="text-uppercase text-center font-weight-bold mb-4 line-height-1-0">
                            დააფინანსე პროექტები
                        </h5>
                        <div class="d-flex">
                            <div class="d-flex w-100 align-items-center my-2">
                                <a href="/donate/project/legalize" class="rounded-circle overflow-hidden d-md-block">
                                    <img
                                        src="/sites/default/files/2021-07/kanafi.png"
                                        class="rounded w-100" alt="...">
                                </a>
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/project/legalize" class="d-inline-block text-hover-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>კანაფის მოყვარულთა საზოგადოება</span>
                                </h6>
                            </div>
                            <div class="d-flex w-100 align-items-center my-2">
                                <a href="/donate/project/amnistia" class="rounded-circle overflow-hidden  d-md-block">
                                    <img
                                        src="https://girchi.com/sites/default/files/2021-07/amnistia-l.jpg"
                                        class="rounded w-100" alt="...">
                                </a>
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/project/amnistia" class="d-inline-block text-hover-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>დიდი ამნისტია</span>
                                </h6>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex w-100 align-items-center my-2">
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/project/kingdom" class="d-inline-block text-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>გირჩის სამეფო</span>
                                </h6>
                            </div>
                            <div class="d-flex w-100 align-items-center my-2">
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/project/portal" class="d-inline-block text-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>პორტალის განვითარება</span>
                                </h6>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex w-100 align-items-center my-2">
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/project/sabos_targmanebi" class="d-inline-block text-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>საბოს თარგმანები</span>
                                </h6>
                            </div>
                            <div class="d-flex w-100 align-items-center my-2">
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/project/haiekis_biblioteka" class="d-inline-block text-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>ჰაიეკის ბიბლიოთეკა</span>
                                </h6>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex w-100 align-items-center my-2">
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/project/busti" class="d-inline-block text-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>ბუსტი</span>
                                </h6>
                            </div>
                            <div class="d-flex w-100 align-items-center my-2">
                                <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-4 mb-0 mx-0 mx-md-3">
                                    <a href="/donate/project/tavkaci" class="d-inline-block text-success">
                                  <span class="text-decoration-none d-inline-block">
                                    <span>თავკაცი</span>
                                </h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-4">
        {{ print_block('leadpartner') }}
    </div>
</div>





